* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.quiz {
    margin-top: 50px;
    background-color: #cad2d5;
    padding: 30px 0;
}
.box__quiz {
    width: 500px;
    margin: 0 auto;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0px 2px 5px 5px #abb3b6;
}
.quiz__head {
    background: #f4f4f4;
    padding: 20px;
    text-align: center;
    border-bottom: 1px solid #dcdcdc;
}
.quiz__heading {
    font-size: 25px;
}
.complate__bg {
    width: 120px;
    height: 15px;
    background: #808080;
    display: block;
    margin: 10px auto;
    border-radius: 50px;
}
.quiz__sub-heading {
    font-weight: 500;
}
.question {
    padding: 30px 20px;
    background: #fafafa;
}
.question__thread {
    text-align: center;
    font-weight: 500;
    font-size: 20px;
}
.answer__list {
    margin-top: 20px;
    list-style: none;
}
.answer__item {
    padding: 10px 20px;
    margin-top: 15px;
    background: #ededed;
    border-radius: 50px;
}
.arrow {
    padding: 20px 30px;
    background: #f4f4f4;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #dcdcdc;
}
.arrow--next,
.arrow--back {
    border: 1px solid #bcbcbc;
    padding: 7px 15px;
    border-radius: 50px;
    background: #f4f4f4;
    outline: none;
    cursor: pointer;
}
